[submodule "vim-files/vim/bundle/nerdtree"]
	path = vim-files/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim-files/vim/bundle/minibufexpl"]
	path = vim-files/vim/bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
    ignore = dirty
[submodule "vim-files/vim/bundle/syntastic"]
	path = vim-files/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim-files/vim/bundle/tagbar"]
	path = vim-files/vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim-files/vim/bundle/Command-T"]
	path = vim-files/vim/bundle/Command-T
	url = https://github.com/wincent/Command-T
[submodule "vim-files/vim/bundle/ctrlp.vim"]
	path = vim-files/vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim-files/vim/bundle/auto-pairs"]
	path = vim-files/vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vim-files/vim/bundle/nerdcommenter"]
	path = vim-files/vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim-files/vim/bundle/YouCompleteMe"]
	path = vim-files/vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
